<div>
    <app-user />
    <h1>¿Qué me parece Angular?</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa est excepturi consectetur necessitatibus
            cumque in magni ea iusto repudiandae iste, repellat suscipit adipisci dicta! Aliquid ex minus eaque dicta
            ratione?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque esse amet delectus! Odio facere similique ut?
            Quaerat unde blanditiis nemo vitae suscipit reprehenderit inventore incidunt, ea voluptates aspernatur
            obcaecati dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit . Ipsa est excepturi consectetur
            necessitatibus
            cumque in magni ea iusto repudiandae iste, repellat suscipit adipisci dicta! Aliquid ex minus eaque dicta
            ratione?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque esse amet delectus! Odio facere similique ut?
            Quaerat unde blanditiis nemo vitae suscipit reprehenderit inventore incidunt, ea voluptates aspernatur
            obcaecati dolor!</p>
    </article>
    @defer (on viewport) { <app-comments />} @placeholder { <p>No comments...</p>} @loading { <p>Loading
        comments...</p>
    }

</div>